---
import Layout from "../layouts/Layout.astro";
import SobreMi from "../components/SobreMi.astro";
import Experiencia from '../components/Experiencia.astro';
import Proyectos from "../components/Proyectos.astro";
import Certificaciones from "../components/Certificaciones.astro";
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Mi portfolio">
	<main>
		<SobreMi />
		<Experiencia />
		<Proyectos />
		<Certificaciones />
		<Contacto />
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
	}
	h1 {
		font-size: 36px;
		margin-bottom: 8px;
		margin-top: 0;
	}
</style>
