---
import Check from "../icons/Check.astro";
---

<section id="Certificaciones">
  <h1>Certificaciones &nbsp;<Check /></h1>
</section>

<style>
  #Certificaciones {
    padding-top: 100px;
  }
</style>
