<section id="Experiencia">
  <h1>Experiencia</h1>
  <aside class='cgi'>
    <h2>Grupo CGI (Desarrollador Web)</h2>
    <h3>Febrero 2023 - Actualidad</h3>
    <ul>
      <li>
        Desarrollo nuevas aplicaciones para uso interno utilizando Angular o React
        y Spring Boot o Nodejs según el tipo de aplicación y proyecto.
      </li>
      <li>
        Mantengo y actualizo proyectos ya existentes desarrollados en las
        tecnologías anteriores.
      </li>
      <li>
        Modificar algunas tablas en BBDD para añadir información que se necesite
        en distintos proyectos.
      </li>
    </ul>
  </aside>
  <aside class='capgemini'>
    <h2>Capgemini (Técnico en prácticas)</h2>
    <h3>Marzo 2022 - Junio 2022</h3>
    <ul>
      <li>
        Desarrollos utilizando Angular para trabajos reales de corrección de
        incidencias y nuevos desarrollos.
      </li>
    </ul>
  </aside>
</section>

<style>
  #Experiencia {
    display: flex;
    flex-direction: column;

    padding-top: 100px;
  }
  ul {
    text-wrap: balance;
  }
  li {
    margin-bottom: 16px;
  }
  .cgi {
    max-width: 50%;
    border-right: 1px solid white;
  }
  .capgemini {
    max-width: 50%;
    border-left: 1px solid white;
    align-self: flex-end;

    padding-left: 16px;
  }
</style>
