---
const currentYear = new Date().getFullYear();
---

<footer>
  <span class="position">© {currentYear}</span>
  <span>El portfolio de Javier Guerrero hecho con mucho 💖</span>
</footer>

<style>
  footer {
    margin: 100px 0 30px 0;
    opacity: 0.85;
    display: flex;
    justify-content: space-evenly;
  }
  .position {
    position: relative;
    top: 2.5px;
  }
</style>
