---
const currentYear = new Date().getFullYear();

import { getI18N } from "../i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<footer>
  <span class="position">© {currentYear}</span>
  <span>{i18n.FOOTER_DESCRIPTION}</span>
</footer>

<style>
  footer {
    margin: 100px 0 30px 0;
    opacity: 0.85;
    display: flex;
    justify-content: space-evenly;
  }
  .position {
    position: relative;
    top: 2.5px;
  }
</style>
