<header>
  <section class="cabecera">
    <img
      title="Javier Guerrero"
      src="/imgs/yo.webp"
      alt="Mi imagen de perfil"
    />
    <a href="#SobreMi"><span><strong>Sobre mi</strong></span></a>
    <a href="#Experiencia"><span><strong>Experiencia</strong></span></a>
    <a href="#Proyectos"><span><strong>Proyectos</strong></span></a>
    <a href="#Contacto"><span><strong>Contáctame</strong></span></a>
  </section>
</header>

<style>
  header {
    font-size: 24px;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    min-height: 71.2px;

    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 300px;
  }
  img {
    border-radius: 50%;
    height: 50px;
    opacity: 0;
    box-shadow: 0 0 10px black;

    animation: enhance-img linear both;
    animation-timeline: scroll(root);
    animation-range: 0 450px;
    position: absolute;
    left: calc((100% - 800px) / 2);
  }
  .cabecera {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  a {
    padding: 8px 14px;
  }
  @keyframes enhance-header {
    to {
      background: rgba(48, 48, 48, 0.25);
      backdrop-filter: blur(15px);
      font-size: 18px;
    }
  }
  @keyframes enhance-img {
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media (max-width: 725px) {
    img {
      animation-range: 0 0;
    }
    header {
      animation-range: 0 350px;
      font-size: 18px;
    }
    @keyframes enhance-header {
      to {
        background: rgba(48, 48, 48, 0.25);
        backdrop-filter: blur(15px);
        font-size: 14px;
      }
    }
  }
  @media (max-width: 850px) {
    img {
      left: 16px;
      top: 10px;
    }
  }
  @media (max-width: 700px) {
    img {
      position: relative;
      top: 0px;
      left: 0;
    }
    .cabecera {
      justify-content: space-between;
    }
  }
  @media (max-width: 645px) {
    .cabecera {
      font-size: 18px;
      gap: 0;
    }
  }
  @media (max-width: 582px) {
    .cabecera {
      font-size: 16px;
      gap: 0;
    }
    @keyframes enhance-header {
      to {
        background: rgba(48, 48, 48, 0.25);
        backdrop-filter: blur(15px);
        font-size: 14px;
      }
    }
  }
  @media (max-width: 540px) {
    .cabecera {
      font-size: 14px;
      gap: 0;
    }
  }
  @media (max-width: 500px) {
    .cabecera {
      font-size: 12px;
    }
    a {
      padding: 8px 0px;
    }
  }
</style>
