<header>
  <div class="cabecera">
    <a href="#SobreMi"><span>Sobre mi</span></a>
    <div class="sub-cabecera">
      <a href="#SobreMi"><span>Experiencia</span></a>
      <a href="#SobreMi"><span>Proyectos</span></a>
      <a href="#SobreMi"><span>Contáctame</span></a>
    </div>
  </div>
</header>

<style>
  header {
    font-size: 30px;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;

    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 150px;
  }
  .cabecera {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
  }
  .sub-cabecera {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }
  @keyframes enhance-header {
    to {
      background: rgba(48, 48, 48, 0.7);
      backdrop-filter: blur(15px);
      font-size: 20px;
      color: black;
    }
  }
</style>
