<header>
  <span>Esto es el header</span>
</header>

<style>
  header {
    text-align: center;
    font-size: 36px;
    padding: 16px;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;

    color: aliceblue;
    background: black;

    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 150px;
  }

  @keyframes enhance-header {
    to {
      background: rgb(255, 255, 255, 0.4);
      backdrop-filter: blur(5px);
      font-size: 18px;
      color: black;
    }
  }
</style>
