---
import HalfStar from "../icons/HalfStar.astro";
---

<section id="Proyectos">
  <h1>Proyectos &nbsp;<HalfStar /></h1>
  <div class="proyectos-body">
    <div>
      <h2>Prueba 1</h2>
    </div>
    <div>
      <h2>Prueba 2</h2>
    </div>
    <div>
      <h2>Prueba 3</h2>
    </div>
    <div>
      <h2>Prueba 4</h2>
    </div>
    <div>
      <h2>Prueba 5</h2>
    </div>
  </div>
</section>

<style>
  #Proyectos {
    padding-top: 100px;
  }
  .proyectos-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
    margin-top: 35px;
  }
  .proyectos-body div {
    display: grid;
    place-content: center;

    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px black;

    transition-property: scale;
    transition-duration: 0.3s;

    height: 150px;
  }
  .proyectos-body div:hover {
    scale: 1.05;
  }
</style>
